{% extends "LoginSystem/LoginBase.html" %}
{% load i18n %}
{% block title %}{% trans "Home - Escrowpp" %}{% endblock %}
{% block logincontent %}

{% get_current_language as LANGUAGE_CODE %}
<div ng-controller="signuppagec">
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">
                            <!-- Logo-->
                            <div class="card-header pt-4 pb-4 text-center bg-primary">
                                <a href="index.html">
                                    <span><img src="assets/images/logo.png" alt="" height="18"></span>
                                </a>
                            </div>

                            <div class="card-body p-4">

                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center mt-0 fw-bold">Sign Up With Metamask</h4>
                                </div>

                                <form >

                                    <div class="mb-3">
                                        <label for="fullname" class="form-label">Fisrt Name</label>
                                        <input ng-model="firstname" class="form-control" type="text" id="fullname" placeholder="Enter your name" required="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="fullname" class="form-label">Last Name</label>
                                        <input ng-model="lastname" class="form-control" type="text" id="lastname" placeholder="Enter your name" required="">
                                    </div>

                                    <div class="mb-3">
                                        <label for="emailaddress" class="form-label">Email address</label>
                                        <input ng-model="email" class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                                    </div>

                                    <span style="display: none" id="UserID" ng-model="UserID" >{{ UserID }}</span>
                                    <span style="display: none" id="WalletType" ng-model="WalletType" >{{ WalletType }}</span>

                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkbox-signup">
                                            <label class="form-check-label" for="checkbox-signup">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                        </div>
                                    </div>

                                    <div class="mb-3 text-center">
                                        <button class="btn btn-primary" ng-click="FinishRegister()"> Finish</button>
                                    </div>

                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->


                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
</div>
{% endblock %}